body h1 {
    color: teal;
}

body h2 {
    color: blue;
}

table, th, td {
    border: 1px solid black ;
    border-collapse: collapse;
}

strong{
    color: red;
}

td strong{
    color: orange;
}

.destacado {
    color: orange;
  }

  .especial {
    color: orange;
  }